<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".shared.HCC_Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HCC_Elektrobit.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".driving_mode.DrivingMode"
            android:exported="true">
        </activity>

        <provider
            android:name="com.example.hcc_elektrobit.shared.JFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HCC_Elektrobit.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".history.JHistoryActivity"
            android:theme="@style/Theme.HCC_Elektrobit.ActionBar"
            android:exported="true" >

        </activity>
        <activity
            android:name=".training.TrainingActivity"
            android:theme="@style/Theme.HCC_Elektrobit.ActionBar"
            android:exported="true" />
        <activity android:name=".evaluation.SiameseTesterActivity" />
        <activity
            android:name=".training.ReviewActivity"
            android:theme="@style/Theme.HCC_Elektrobit.ActionBar"
            android:exported="true" />
        <activity android:name=".support_set.SupportSetActivity" />
        <activity android:name=".support_set.SupportSetDrawingActivity" />
        <activity android:name=".keyboard_mode.KeyboardModeActivity" />
        <activity android:name=".evaluation.JEvaluationActivity"/>
    </application>

</manifest>
